<div class="grid">
  <header>
    <img class="logo" src="{{ imageSrc }}" alt="{{ imageAlt }}" />
  </header>
  <form class="form">
    <input
      type="text"
      class="inputForm"
      id="email"
      placeholder="email@email.com"
    />
    <input
      type="password"
      class="inputForm"
      id="password"
      placeholder="******"
    />
  </form>

  <button mat-raised-button class="btnForm" type="submit" routerLink="/hall">
    Entrar
  </button>
  <a class="linkRegister" routerLink="/register">Cadastre-se!</a>
</div>
