<div class="menu">
  <div>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="material-icons">lunch_dining</mat-icon>
        </ng-template>
        <div *ngFor="let itemBurger of Burger">
          <img src="{{ itemBurger.image }}" class="img" />
          <button class="card">
            {{ itemBurger.name }} {{ itemBurger.type }}
            {{ itemBurger.flavor }} R${{ itemBurger.price }}
          </button>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="material-icons">bakery_dining</mat-icon>
        </ng-template>
        <div *ngFor="let itemBreakfast of Breakfast">
          <img src="{{ itemBreakfast.image }}" class="img" />
          <button class="card">
            {{ itemBreakfast.name }} R$ {{ itemBreakfast.price }}
          </button>
        </div>
        <div *ngFor="let itemSide of Side">
          <img src="{{ itemSide.image }}" class="img" />
          <button class="card">
            {{ itemSide.name }} R$ {{ itemSide.price }}
          </button>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="material-icons">wine_bar</mat-icon>
        </ng-template>
        <div *ngFor="let itemDrink of Drinks">
          <img src="{{ itemDrink.image }}" class="img" />
          <button class="card">
            {{ itemDrink.name }} R$ {{ itemDrink.price }}
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
