<div class="grid">
  <img class="logo" src="/src/assets/img/logo.png" />
  <form class="form">
    <input
      type="text"
      class="inputForm"
      id="name"
      placeholder="Digite seu nome"
      value="name"
    />
    <input
      type="text"
      class="inputForm"
      id="email"
      placeholder="email@email.com"
      value="email"
    />
    <input
      type="password"
      class="inputForm"
      id="password"
      placeholder="Crie uma senha"
      value="{password}"
    />
  </form>
  <button mat-raised-button class="btnForm" type="submit">Cadastrar</button>
</div>
