<nav>
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Sair do App"
      >
        <mat-icon routerLink="/">exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
  </p>
</nav>
<header>
  <img class="logo" src="{{ imageSrc }}" alt="{{ imageAlt }}" />
</header>
<mat-label label="Api + Observable">
  <div class="apps">
    <app-products></app-products>
    <app-order></app-order>
  </div>
</mat-label>
