.mat-tab-group {
    margin-bottom: 48px;
  }
 

  .apps{
    display: flex;
  }
  

  header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .logo{
      width: 10%;
  }

  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  
  .title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 5%;
  }

  table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .card{
    display: flex;
    flex-direction: column;
    padding: 2%;
  }

  .card:hover{
    background-color: #FFC300;;
  }

  .spinner {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  